---
---
{%- comment -%}
https://github.com/mmistakes/minimal-mistakes/blob/4.26.2/_layouts/default.html
{%- endcomment -%}

{% assign page_language = page.url | slice: 1, 2 %}
{% assign languages = "" | split: ',' %}
{% for lang_data in site.languages %}
  {% assign languages = languages | push: lang_data.prefix %}
{% endfor %}

{% unless languages contains page_language %}
  {% assign page_language = site.default_language %}
{% endunless %}

<!doctype html>
{% include copyright.html %}
<html lang="{{ page_language }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <script type="text/javascript">
      localStorage.setItem("page_language", "{{ page_language }}");
    </script>
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>